DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RESEND_API_KEY=""
RESEND_FROM="Acme <onboarding@resend.dev>"
STORAGE_ACCESS_KEY_ID=""
STORAGE_SECRET_ACCESS_KEY=""
STORAGE_ENDPOINT=""
STORAGE_REGION=""
STORAGE_BUCKET_NAME=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
